@media only screen and (max-width: 1110px) {
    .inner {
        margin: 0 5.3125rem 0 5.3125rem;
    }

    .header__inner {
        justify-content: space-between;
    }

    .header__nav {
        width: 75%;
    }

    .header__user {
        width: 25%;
    }
}
