/* General */

html {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #5a6473;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */

.header {
    padding-top: 2.714rem;
    background-color: #e6f0ff;
    font-family: Poppins, sans-serif;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0rem;
}

.header__inner {
    margin: 0 10.3125rem 0 10.3125rem;
    display: flex;
    flex-wrap: wrap;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header__nav-menu {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.header__user {
    width: 50%;
    display: flex;
    justify-content: end;
}

.header__user-btn {
    padding: 0.715em 1.428em;
}

.register-btn {
    background-color: #0f1b4c;
    color: #fff;
    border-radius: 8px;
}

.sign-up-btn {
    background: none;
    border: none;
}
