/* General */

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #5a6473;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
