/* General */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #5a6473;
    box-sizing: border-box;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.inner {
    margin: 0 10.3125rem 0 10.3125rem;
}

/* Header */

.header {
    padding: 2.375rem 0 2.375rem 0;
    background-color: #e6f0ff;
    font-family: Poppins, sans-serif;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.3125rem;
    letter-spacing: 0rem;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    min-width: 50%;
}

.header__nav-menu {
    display: flex;
    justify-content: space-between;
    min-width: 70%;
    align-items: center;
}

.header__user {
    min-width: 50%;
    display: flex;
    justify-content: end;
}

.header__user-btn {
    padding: 0.625rem 1.25rem;
}

.btn {
    background-color: #0f1b4c;
    color: #fff;
    border-radius: 8px;
}

.sign-up-btn {
    background: none;
    border: none;
    color: #0f1b4c;
}

/* Welcome Section */

.main__welcome {
    background-color: #e6f0ff;
}

.welcome__inner {
    display: flex;
    justify-content: space-between;
}

.welcome__left {
    max-width: 35rem;
    margin-top: 5.75rem;
}

.welcome__subtitle {
    color: #687690;
    font-weight: 500;
    font-size: 1.285rem;
    line-height: 1.6875rem;
    padding-bottom: 0.5rem;
}

.welcome__title {
    color: #000336;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.75rem;
    padding-bottom: 2rem;
}

.welcome__text {
    font-size: 1.125rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
}

.welcome__btn {
    padding: 1rem 2.375rem;
    font-size: 0.8125rem;
    line-height: 1.125rem;
}

/* Rating Section */
